
.main{ 
    background: url(../../public/photos/bannerBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Form{ 
    background: url(../../public/photos/bannerBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    @apply w-full h-full bg-[#0B153C] pl-[35px] md:pl-[50px]  pt-[50px] ;
}
.navbar{
    @apply items-center justify-between flex
}

.logo{
    @apply text-[18px] lg:text-[32px] md:text-[25px] font-bold text-white font-montserrat
}

.manuIcon{
    @apply w-[45px] h-[45px] flex bg-[#c4c4c470] mr-[35px] justify-center items-center rounded-md
}

.navbar ul li:hover{
    color: #ffffff;
    transition: all linear .1s;
}


.manuButton{
    @apply w-[219px] h-[69px] flex bg-[rgba(196,196,196,0.1)] mr-[35px] justify-center items-center rounded-[20px] text-[#17C2EC] text-[24px] font-bold font-montserrat
}

.iconManuBar{
    @apply   text-[30px] text-white 
}

.sectionOne{
    @apply   w-full h-full mt-[32px]
}

.sectionOneDivOne{
    @apply  pr-[30px]
}

.sectionOneDivOneTExt{
    @apply   text-[12px] font-montserrat font-bold text-[#17C2EC]
}

.sectionOneDivOneTExt2{
    @apply   text-[24px] my-[20px] font-montserrat font-extrabold text-[#17C2EC] md:w-[414px]
}

.sectionTowbutton{
    @apply  mt-[40px] w-full pr-[35px]  text-[14px] font-bold font-montserrat
}


.buttonGH{
    @apply  w-[138px] h-[50px] lg:w-[200px]   rounded-[15px] hover:bg-[#17C2EC] text-white border-[2px] border-[#17C2EC] transition-all hover:scale-110 active:scale-95
}

.sectionThreeDiv{
    @apply w-[305px] md:w-[670px] lg:w-[1299px] h-[242px] bg-[rgba(196,196,196,0.05)] rounded-tr-[20px] rounded-tl-[20px] absolute top-0
}

.sectionThreeDiv2{
    @apply w-[305px] md:w-[670px] lg:w-[1299px] h-[231px] bg-[rgba(196,196,196,0.05)] rounded-tr-[20px] rounded-tl-[20px] 
}

.buttonSubmit{
    @apply w-[150px] md:w-[253px] lg:w-[142px] lg:rounded-[20px] md:h-[64px] ml-[13px] mt-2 h-[50px] text-[14px] font-montserrat font-bold bg-[#17C2EC] rounded-[8px] text-[#ffffff] hover:bg-transparent transition-all hover:border-[#17C2EC] hover:border hover:text-[#17C2EC] hover:scale-95 active:scale-105
}





